/*
* @Author: lenovo
* @Date:   2018-12-18 16:51:43
* @Last Modified by:   lenovo
* @Last Modified time: 2019-01-05 13:11:51
*/
*{
	padding: 0;
	margin: 0 auto;
}
ul,li{
	list-style: none;
}
.cover{
	height: 175px;
	margin: 0 auto;
	position: static;
}
.coverTop{
	width: 1185px;
	margin: 0 auto;
	height: 26px;

}
.coverTop li{
	margin: 0 auto;
	margin-top: 4px;
	font-size: 13px;
	float: left;
}
.topqq{
	width: 19px;
	height: 23px;
	margin-right: 18px;
	float: left;
}
.topqq1{
	margin-left: 12px;
}
/**/
.coverMid{
	margin: 0 auto;
	width: 1185px;
	height: 100px;
}
.search{
	width:500px;
	height:42px;
	margin-left: 108px;
	margin-top: 30px;
	border-color: #fe6c00;
	border-radius: 4px;
}
.butt{
	width: 85px;
	height: 46px;
	margin-left: -5px;
	background-color: #fe6c00;
	color: white;
	border-radius: 3px;
	border:  #fe6c00;
}
/**/
.hotline{
	margin: 0 auto;
	width: 86px;
	height: 40px;
	float: right;
	margin-top: 34px;
}
.underSearch{
	height: 24px;
	margin: 0 auto;
	margin-left: 250px;
	margin-top: 5px;
}
.underSearch li{
	margin-right: 18px;
	float: left;
	font-size: 12px;
	text-align: center;
}
/**/
.nav{
	height: 40px;
	margin: 0 auto;
	background-color: black;
}
.nav li{
	float: left;
	text-align:center;
	font-size: 15px;
	color: white;
	margin-right: 57px;
	margin-top: 7px;
}
/**/
.details{
	margin: 0 auto;
	width: 1185px;
	height: 670px;
}
.commpic{
	margin: 0 auto;
	width: 435px;
	height: 650px;
	float: left;
}
/* 放大镜 */
.bigpicl{
	border:#d0cdc7 1px solid;
	width:408px;
	height:408px;
	margin-left:20px;
	margin-top: 20px;
	position: absolute;
}
#slider{/*滑块*/
	width: 150px;
	height: 150px;
	position: absolute;
	left: 0;
	top: 0;
	background:#CCC;
	opacity:0.4;/*不透明*/
	cursor: move;
	display:none;
	filter:alpha(opacity=40);
}
.bigpicr{
	width: 408px;
	height: 408px;
	position: absolute;
	display: none;
	overflow: hidden;
	left: 600px;
	top: 230px;
}
#bigimg{
	position: absolute;
	left: 0;
	top: 0;
	width: 150%;
	height: 150%;
}
/**/
.smallpic{
	width:408px;
	height: 67px;
	margin-left: 20px;
	position: absolute;
}
.commdetails{
	width: 510px;
	height: 600px;
	float: left;
	margin-right: 35px;
	margin-top: 20px;
	margin-left: 25px;
}
.commdetails ul li{
	font-size: 12px;
}
.ml1{
	padding: 5px 5px 5px 5px;
	cursor: pointer;
	margin-left: 30px;
	background:none;
	border: #fe0d4a 1px solid;
}
.ml2{
	padding: 5px 5px 5px 5px;
	cursor: pointer;
	margin-left: 10px;
	background:none;
	border: #fe0d4a 1px solid;
}
#ml3{
	color: #fe6c00;
	font-size: 18px;
}
#buynow{
	width: 150px;
	height: 40px;
	color: #ff0754;
	border-radius: 3px;
	border-color: #ff0754;
	border-style: solid;
	background-color: white;
}
#addto{
	width: 150px;
	height: 40px;
	color: white;
	border-radius: 3px;
	border:none;
	background-color: #ff0754;
}
/**/
.more{
	margin: 0 auto;
	width:1185px;
	height: 190px;
}
.more ul{
	margin-top: 25px;
	float:left;
	margin-left:60px;
}
.more ul li{
	margin-top: 10px;
	font-size: 13px;
}
/**/
.bottom{
	margin: 0 auto;
	width: 1185px;
	height: 165px;
}
.bottom ul li{
	float: left;
	margin-left: 18px;
	color: #9a9791;
	font-size: 13px;
}
/**/
#bg{
	display: none;
	position: fixed;
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
}
 #show {
    display: none;
    position: absolute;
    top: 35%;
    left: 35%;
    width: 412px;
    height: 231px;
    padding: 8px;
    border: 8px solid #E8E9F7;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}